$sans-serif: 'Open Sans', sans-serif;
$nav-font-size: 13px;
$time-font: 18px;
$list-font: 15px;
$blog-post-title: 11px;
$semibold: 500;

/* COLORS */
$txt-primary: rgba(27, 27, 25, 0.8);
$txt-accent: #ACB1B4;
$txt-light: #fff;
$white-color: #fff;
$txt-secondary: #3D4351;
$accent-color: #E6D51D;
$accent-color-hover: #E6D51D;
$time-color: #337AB7;
$footer-primary: #3D4351;





